.navigation-arrow {
  background-color: transparent;
  border: 0px;
  position: fixed;
  bottom: 3%;
  left: calc(50% - 22.5px);
  cursor: pointer;
}

.blink {
  animation: blink 2s infinite;
}

.navigation-arrow-up {
  animation:
    rotateUp 0.5s linear forwards,
    blink 2s infinite;
}

.navigation-arrow-down {
  animation:
    rotateUpInverted 0.5s linear forwards,
    blink 2s infinite;
}

@keyframes rotateUp {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(90deg); /* Rota hacia arriba a mitad de camino */
  }

  75% {
    transform: rotate(135deg); /* Rota hacia arriba a mitad de camino */
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotateUpInverted {
  0% {
    transform: rotate(180deg);
  }

  25% {
    transform: rotate(135deg);
  }

  50% {
    transform: rotate(90deg); /* Rota hacia abajo a mitad de camino */
  }

  75% {
    transform: rotate(45deg); /* Continúa rotando hacia abajo */
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
